In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import mutual_info_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import pickle
import streamlit as st

In [2]:
df=pd.read_csv('admission.csv')

In [3]:
df.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
5,6,330,115,5,4.5,3.0,9.34,1,0.90
6,7,321,109,3,3.0,4.0,8.20,1,0.75
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
9,10,323,108,3,3.5,3.0,8.60,0,0.45

In [4]:
df.isna().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [6]:
x=df.drop('Chance of Admit ',axis=1)
y=df['Chance of Admit ']

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.8,random_state=20)

In [8]:
mutual_info = mutual_info_regression(x_train,y_train)
mutual_info = pd.Series(mutual_info)
mutual_info.index = x_train.columns
mutual_info.sort_values(ascending=False)

CGPA                 1.169983
GRE Score            0.760908
TOEFL Score          0.711109
SOP                  0.541931
University Rating    0.487325
LOR                  0.378664
Research             0.200998
Serial No.           0.046350
dtype: float64

In [9]:
x=df.drop(['LOR ','Research','Serial No.','Chance of Admit '],axis=1)
y=df['Chance of Admit ']

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.8,random_state=33)

In [11]:
regr = LinearRegression()

In [13]:
regr.fit(x_train, y_train)
y_pred = regr.predict(x_test)
regr_r2 = r2_score(y_test, y_pred)
print('Linear Regression R2 Score: ',regr_r2)

Linear Regression R2 Score:  0.7971335062641176

In [ ]:
Regression = ("model_2.pkl")
pickle.dump(regr, open(Regression, 'wb'))

In [ ]:
load_model = pickle.load(open(Regression, 'rb'))